__pycache__
.pytest_cache
.vscode
api/__pycache__
api/resources/__pycache__
api/resources/users/__pycache__
api/resources/__init__.pyc
api/tests/__pycache__
api/tests/__init__.pyc
api/tests/test_users.pyc
api/__init__.pyc
venv
api/validators/__pycache__
api/validators/validators.pyc
api/validators/__init__.pyc
api/users/__init__.pyc
api/users/users.pyc
.cache
models/__pycache__
app.pyc
api/views.pyc
models/__init__.pyc
models/products.pyc
models/sales.pyc
models/users.pyc
tests/test_api_add_products.pyc
tests/test_api_add_sale.pyc
tests/test_api_get_all_products.pyc
tests/test_api_get_all_sales.pyc
tests/test_api_get_product.pyc
tests/test_api_get_sale.pyc
tests/test_products.pyc
tests/test_sales.pyc
v1/api/__pycache__
v1/api/__init__.pyc
v1/api/views.pyc
v1/models/__pycache__
v1/models/__init__.pyc
v1/models/products.pyc
v1/models/sales.pyc
v1/tests/__pycache__
v1/tests/__init__.pyc
v1/tests/test_api_add_products.pyc
v1/tests/test_api_add_sale.pyc
v1/tests/test_api_get_all_products.pyc
v1/tests/test_api_get_all_sales.pyc
v1/tests/test_api_get_product.pyc
v1/tests/test_api_get_sale.pyc
v1/tests/test_products.pyc
v1/tests/test_sales.pyc
v2/api/__pycache__
db_config.pyc
tests/test_validators.pyc
models/validators.pyc
db_helper.pyc