body {
    background: rgb(235, 233, 233);
}

.message {
    color:red;
}

.visitor-message {
    margin-top: 50px;
    box-sizing: border-box;
}

.role-title {
    margin-left: 350px;
}

.endpoint-display-container h3 {
    margin-left: 130px;
}

th {
    color: blue;
    width: 300px;
    box-sizing: border-box;
}

td {
    text-align: center;
    width: 350px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

.main-container {
    display: grid;
    justify-items: center;
}

.role-form {
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
}

.role-details {
    display: grid;
    grid-row-gap: 5px;
}

.role-details label{
    display: block;
}

.role-details select{
    width: 200px;
    margin-left: 50px;
    box-sizing: border-box;
}

.role-details input{
    height: 25px;
    width: 150px;
    margin-left: 80px;
    box-sizing: border-box;
    background: rgb(2, 16, 139);
    color: white;
}



